header {
    background-color: #ffffff;
    display: block;
    border-color: #cccccc;
}
p {
    color: #777777;

}

body {
    background-color: #ffffff;
    border-color: #dddddd;
}

footer {
    display: block;
    background-color: #666666;
}